*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
}

.layout{
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: repeat(3, 100px);
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
}


section{
    background-color: gold;
}

header{
    background-color:antiquewhite;
    align-self: start;
    /* grid-column: 1 / 5 */
}


nav{
    background-color:aquamarine;
    justify-self: start;
    /* grid-row: 2 / 3;
    grid-column: 4 / 5 */
}

main{
    background-color:chocolate;
    /* grid-row: 2 / 3;
    grid-column: 1 / 4; */
}

footer{
    background-color: gray;
    /* grid-column: 1 / 5 */
}